@font-face {
	font-family: "fuente";
	src: url("fonts/Playwrite_DK_Loopet/PlaywriteDKLoopet-VariableFont_wght.ttf");
}

body{
	font-family: "fuente";
    background-color: rgb(255, 228, 196);
}

h1{
    color: rgb(0, 0, 0);
}


img{
    width: 70%;
    margin-left: 5%;
    margin-right: 5%;
}
.texto{
    width: 100%;
    background-color: aliceblue;
    text-align: center;
}
.grupo-fotos{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
 }
 .foto{
	object-fit: cover;
    width: 45%;
    display: inline-block;
    margin-left: 2%;
    margin-right: 1%;
    position: relative;
    top: 70px;
    
 }
 .foto99{
	object-fit: cover;
    width: 40%;
    display: inline-block;
    margin-left: -10%;
    margin-right: 1%;
    position: relative;
    top: 70px;
    
 }
 .foto1{
	object-fit: cover;
    width: 45%;
    display: inline-block;
    margin-left: -5%;
    margin-right: 1%;
    position: relative;
    top: 70px;
 }
 .foto2{
	object-fit: cover;
    width: 40%;
    display: inline-block;
    margin-left: -13%;
    margin-right: 0%;
    position: relative;
    top: 40px;
 }
 .foto3{
	object-fit: cover;
    width: 43%;
    display: inline-block;
    margin-left: -8%;
    margin-right: 1%;
    position: relative;
    top: 70px;
 }
 .foto4{
	object-fit: cover;
    width: 45%;
    display: inline-block;
    margin-left: 2%;
    margin-right: 1%;
    position: relative;
    top: 70px;
    
 }
 .foto5{
	object-fit: cover;
    width: 38%;
    display: inline-block;
    margin-left: -5%;
    margin-right: 1%;
    position: relative;
    top: 70px;
 }
 .foto6{
	object-fit: cover;
    width: 40%;
    display: inline-block;
    margin-left: 2%;
    margin-right: 1%;
    position: relative;
    top: 70px;
 }
 .foto7{
	object-fit: cover;
    width: 46%;
    display: inline-block;
    margin-left: -5.5%;
    margin-right: 1%;
    position: relative;
    top: 70px;
 }
 .myButton {
	box-shadow:inset -50px 21px 0px -50px #bbdaf7;
	background:linear-gradient(to bottom, #7fdbeb 5%, #348da3 100%);
	background-color:#7fdbeb;
	border-radius:6px;
	border:1px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:28px;
	font-weight:bold;
	padding:15px 20px;
	text-decoration:none;
	text-shadow:0px 0px 0px #386a9c;
	
}
.myButton:hover {
	background:linear-gradient(to bottom, #348da3 5%, #7fdbeb 100%);
	background-color:#348da3;

}
.myButton:active {
	position:relative;
	top:1px;
}
.myButton1 {
	box-shadow:inset -50px 21px 0px -50px #bbdaf7;
	background:linear-gradient(to bottom, #eb7f7f 5%, #a33434 100%);
	background-color:#7fdbeb;
	border-radius:6px;
	border:1px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:28px;
	font-weight:bold;
	padding:15px 20px;
	text-decoration:none;
	text-shadow:0px 0px 0px #386a9c;
	margin-left: 90%;
    position: relative;
    top: -650px;
    left: -1320px;
}

.myButton2 {
	box-shadow:inset -50px 21px 0px -50px #bbdaf7;
	background:linear-gradient(to bottom, #eb7f7f 5%, #a33434 100%);
	background-color:#7fdbeb;
	border-radius:6px;
	border:1px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:28px;
	font-weight:bold;
	padding:15px 20px;
	text-decoration:none;
	text-shadow:0px 0px 0px #386a9c;
	margin-left: 90%;
    position: relative;
    top: -710px;
    left: -400px;
	
}

.myButton3 {
	box-shadow:inset -50px 21px 0px -50px #bbdaf7;
	background:linear-gradient(to bottom, #eb7f7f 5%, #a33434 100%);
	background-color:#7fdbeb;
	border-radius:6px;
	border:1px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:28px;
	font-weight:bold;
	padding:15px 20px;
	text-decoration:none;
	text-shadow:0px 0px 0px #386a9c;
	margin-left: 90%;
    position: relative;
    top: -220px;
    left: -1350px;
    
	
}

.myButton4 {
	box-shadow:inset -50px 21px 0px -50px #bbdaf7;
	background:linear-gradient(to bottom, #eb7f7f 5%, #a33434 100%);
	background-color:#7fdbeb;
	border-radius:6px;
	border:1px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:28px;
	font-weight:bold;
	padding:15px 20px;
	text-decoration:none;
	text-shadow:0px 0px 0px #386a9c;
	margin-left: 90%;
    position: relative;
    top: -220px;
    left: -450px;
	
}
.myButton5 {
	box-shadow:inset -50px 21px 0px -50px #bbdaf7;
	background:linear-gradient(to bottom, #eb7f7f 5%, #a33434 100%);
	background-color:#7fdbeb;
	border-radius:6px;
	border:1px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:28px;
	font-weight:bold;
	padding:15px 20px;
	text-decoration:none;
	text-shadow:0px 0px 0px #386a9c;
	margin-left: 90%;
    position: relative;
    top: -650px;
    left: -1320px;
	
}
.myButton6 {
	box-shadow:inset -50px 21px 0px -50px #bbdaf7;
	background:linear-gradient(to bottom, #eb7f7f 5%, #a33434 100%);
	background-color:#7fdbeb;
	border-radius:6px;
	border:1px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:28px;
	font-weight:bold;
	padding:15px 20px;
	text-decoration:none;
	text-shadow:0px 0px 0px #386a9c;
	margin-left: 90%;
    position: relative;
    top: -710px;
    left: -400px;
	
}
.myButton7 {
	box-shadow:inset -50px 21px 0px -50px #bbdaf7;
	background:linear-gradient(to bottom, #eb7f7f 5%, #a33434 100%);
	background-color:#7fdbeb;
	border-radius:6px;
	border:1px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:28px;
	font-weight:bold;
	padding:15px 20px;
	text-decoration:none;
	text-shadow:0px 0px 0px #386a9c;
	margin-left: 90%;
    position: relative;
    top: -220px;
    left: -1350px;
	
}
.myButton8 {
	box-shadow:inset -50px 21px 0px -50px #bbdaf7;
	background:linear-gradient(to bottom, #eb7f7f 5%, #a33434 100%);
	background-color:#7fdbeb;
	border-radius:6px;
	border:1px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:28px;
	font-weight:bold;
	padding:15px 20px;
	text-decoration:none;
	text-shadow:0px 0px 0px #386a9c;
	margin-left: 90%;
    position: relative;
    top: -220px;
    left: -450px;
	
}

.th1{
	background-color: #c5acac;
	border:5px #000000;
	border-style: ridge;
}
.td1{
	background-color: #2d0a0a;
	border:5px #15ea63e3;
	border-style: double;
}
.td{
	background-color: #724314;
	border:5px #190303;
	border-style: ridge;
}
.th{
	background-color: #724314;
	border:5px #190303;
	border-style: double;
}
.tr{
	background-color: #0a2d0b;
	border:5px #8315eae3;
	border-style: double;
}
.img-alineada {
    max-width: 200px;
    height: auto;
    display: block;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
.th2{
	width: 50%;
	height: 100%;
	background-color: #724314;
	border:5px #000000;
	border-style: ridge;
}
tr{
  text-align: center; 
}
td{
  text-align: center; 
}
.thb1{
      text-align: center; 
	background-color:  #724314;
	 border-style: double;
}  

.thb2{
	text-align: center;
	background-color:  #724314;
	 border-style: double;
	
}
.thb3{
      text-align: center; 
	background-color:  #724314;
	 border-style: double;
}  
.thb4{
      text-align: center; 
	background-color:  #724314;
	 border-style: double;
}  
.th6{
	width: 10%;
	height: 100%;
	background-color: #724314;
	border:5px #000000;
	border-style: double;
}
.th8{
	width: 11%;
	height: 100%;
	background-color: #724314;
	border:5px #000000;
	border-style: double;
}